# Application Environment (development, production)
APP_ENV=development

# Blockchain Node Configuration
# PORT and HOST can be overridden by CLI or Docker
BLOCKCHAIN_PORT=5001
BLOCKCHAIN_HOST=0.0.0.0

# Mining Settings
MINING_DIFFICULTY=2
MINING_REWARD=1
MINING_SENDER="The Blockchain"

# Blockchain Client Configuration
BLOCKCHAIN_CLIENT_PORT=8081
BLOCKCHAIN_CLIENT_HOST=0.0.0.0
PYTHONPATH=.
